<div *ngIf="!spettacoliIn$">
  <button (click)="getDati(false)">Accedi</button><br />
  <button (click)="getDati(true)">Gestione spettacoli</button>
</div>
<div *ngIf="!admin && datiIn$">
  <app-login [spettacolo]="datiIn$" [(nomeUtente)]="nomeUtente"></app-login>
  <br />
  <br />
  <div *ngIf="rapido === undefined">
    <button
      [disabled]="!nomeUtente || !spettacoloScelto"
      (click)="getTeatro(false)"
    >
      Prenota
    </button>
    <button
      [disabled]="!nomeUtente || !spettacoloScelto"
      (click)="getTeatro(true)"
    >
      Veloce
    </button>
  </div>
</div>
